@import "../../responsive.scss";
.newPostPage {
  height: 100%;
  display: flex;
  @include sm {
    flex-direction: column;
    overflow: scroll;
  }
  .formContainer {
    flex: 3;
    overflow-y: scroll;
    padding: 20px;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 100%;

            .quill > .ql-container > .ql-editor{
              height: 100%;
              font-size: 16px;
            }
          }
        }
        .sendButton {
          width: 30%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          background-color: #285767;
          color: white;
          font-size: large;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #b5deed;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;

    img {
      width: 30%;
      object-fit: cover;
      border-radius: 5px;
    }
    .upload{
      background-color: #285767;
    }
  }
}
